<!--Ideelt set skulle denne arve fra index.html for at undgå at skrive det samme flere gange-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title>
        Is it Friday?
    </title>
</head>
<body>

    <section class="hero" th:classappend="${friday} ? is-primary : is-danger">
        <div class="hero-body">
          <p class="title"> 
              Is it friday?
          </p>
          <p class="subtitle">
            <span th:if="${friday}">It's friday! 😀</span>
            <span th:if="${not friday}">It's not friday! 🥲</span>
          </p>
          <p class="subtitle">
            Exercise 1.3
          </p>
        </div>
      </section>
    <div id="content">
    </div>
</body>
</html>