<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title>
        Is it Friday?
    </title>
</head>
<body>

    <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            Hello KEA
          </p>
          <p class="subtitle">
            Mandatory Spring exercise
          </p>
        </div>
      </section>
    <!-- TODO CREATE HERO, IF FRIDAY GREEN HERO IF NOT RED -->

    <div id="content">
    </div>
</body>
</html>